
.contact-block {
  margin-top: 80px;
  margin-bottom: 120px;

  .sm-header {
    @include make-sm-column(12);
    @include make-md-column(12);
    @include make-lg-column(12);
  }

  .contact-links {
    margin: 12px;
  }

  .contact-tnb {
    @include make-sm-column(4);
    @include make-md-column(4);
    @include make-lg-column(4);

    .lg-header {
      font-size: 1.8em;
    }

    img {
      width: 100%;
    }

    .tnb-logo {
      margin: 8px 18px;
    }
  }

  .link-icons {
    list-style: none;
    margin: 24px 0 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 10px 6px;
    }

    a {
      @include transition(all .3s ease-in);
      display: block;
      @include border-radius(50%);
      background-color: rgba(0,0,0,0.4);
      color: #fff;
      font-size: 60px;
      line-height: 100px;
      height: 100px;
      width: 100px;
      text-align: center;

      &:hover {
        background-color: $orange;
      }
    }
  }

  .link-labels {
    position: relative;
    margin-top: 20px;

    .l-label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.75em;
      color: $orange;
      @include opacity(0);
      @include transition(all .3s ease-in);

      &.active {
        @include opacity(1);
      }
    }
  }
}


@media (max-width: $screen-sm-max) {
  .contact-block {

    .link-icons {
      
      a {
        font-size: 55px;
        line-height: 80px;
        height: 80px;
        width: 80px;
      }
    }

  

  }

}

