@import "compass";
@import "bootstrap";
@import "variables";
@import "fonts";

@import "nav";
@import "intro";
@import "about";
@import "skills";

/* Space out content a bit */
body {
    color: $text-color;
    @include open-sans;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */
.header {
    position: fixed;
    top: 4px;
    width: 100%;
    z-index: 100;
}

.sections {

    .section {
		position: relative;
        min-height: 550px;
        @include clearfix;
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
