@import "compass";
@import "bootstrap";
@import "variables";
@import "fonts";

@import "nav";
@import "intro";
@import "about";
@import "skills";
@import "work";
@import "contact";


body {
    color: $text-color;
    @include open-sans;
}

a {
	color: $orange;

	&:hover {
		color: darken($orange, 20);
	}
}

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    position: fixed;
    top: 4px;
    width: 100%;
    z-index: 100;
}

.sections {

    .section {
		position: relative;
        min-height: 550px;
        padding-bottom: 40px;
        @include clearfix;
    }
}

.sm-header {
	font-size: 1.8em;
	font-weight: 200;
	text-transform: uppercase;
}

.lg-header {
	font-size: 2.3em;
	font-weight: 200;
}

.footer {
	padding: 8px;
	text-align: center;
	width: 100%;
}

@media screen and (min-width: 768px) {

}
