<div class="container">
  <div class="row">
    <div class="descrip">
      <span class="headline-1">I build</span>
      <span class="subline-1">fast,</span> 
      <span class="subline-2">responsive,</span> 
      <span class="subline-3">accessible,</span> 
      <span class="subline-4">maintainable,</span> 
      <span class="subline-5">well-designed,</span> 
      <span class="subline-6">mobile-friendly,</span> 
      <span class="subline-7">searchable,</span> 
      <span class="headline-2">sexy websites.</span>
    </div>
  </div>
</div>