<div class="container">
  <h3 class="sm-header">Hire Me</h3>
  <div class="contact-links">
    <div class="lg-header"><span>I'm currently <b>not</b> available for</span><span> contract or freelance projects.</span></div><p>Sorry! :(</p>
    <ul class="link-icons">
      {{!-- <li><a data-label="resume" href="/files/KristiCentinaro-Resume2013.pdf" target="_blank"><i class="fa fa-file-text-o"></i></a></li> --}}
      <li><a data-label="github" href="https://github.com/tnbKristi?tab=repositories" target="_blank"><i class="fa fa-github-alt"></i></a></li>
      <li><a data-label="linkedin" href="http://www.linkedin.com/in/kristicentinaro/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a data-label="googleplus" href="http://plus.google.com/u/0/105851997129401536120/posts/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
      <li><a data-label="deviantart" href="http://inkjetcanvas.deviantart.com/" target="_blank"><i class="fa fa-picture-o"></i></a></li>
    </ul>
    <div class="link-labels">
      {{!-- <div class="l-label resume">Download my résumé</div> --}}
      <div class="l-label github">Explore my GitHub Repo</div>
      <div class="l-label linkedin">Connect on LinkedIn</div>
      <div class="l-label googleplus">Add me on Google+</div>
      <div class="l-label deviantart">Check out my DeviantArt</div>
    </div>
  </div>
{{!--   <div class="contact-tnb">
    <div class="lg-header">Need a full-stack dev team? Consider hiring my company instead:</div>
    <div class="tnb-logo">
      <img src="/images/tnb-logo.png" alt="There's No Box Logo" />
    </div>
    <p>We specialize in Ruby on Rails &amp; API-driven, Single Page Application development.</p>
    <p>Contact me for more details!</p>
  </div>
 --}}
 </div>