<div id="intro-region" class="section" data-position="intro"></div>
<div id="about-region" class="section" data-position="about"></div>
<div id="skills-region" class="section" data-position="skills"></div>
<div id="work-region" class="section" data-position="work"></div>
<div id="contact-region" class="section" data-position="contact"></div>
