
<div class="intro-image">
  <img src="/images/profile-img-bw.jpg" />
</div>
<div class="intro-content">
  <h1>Hi! I'm Kristi.</h1>
  <h2>I'm A Front-End Developer <br />&amp; UX Designer.</h2>
</div>