<div class="container">
  <h3 class="sm-header">Work</h3>
  <div class="row">
    <div class="current-project">
      <h4>Most Recent Project:</h4>
      <div class="project-details">
          <span class="project-title">Tavern Keeper</span>
          <div class="project-image">
            <a href="https://tavern-keeper.com/home" target="_blank"><img src="/images/tk-site-1.jpg" /></a>
          </div>
          <div class="project-info">
            <p><a href="https://tavern-keeper.com/home" target="_blank">tavern-keeper.com</a></p>
            <p>A Tabletop Rolplaying Community which focuses on tools and services that make it easier for gamers to create and manage characters and campaigns.</p>
            <p>This site is a 2-person project between myself and my husband (a Ruby Developer and API Mastermind).</p>
          </div>
        </div>
    </div>
    <div class="past-projects">
      <h4>Previous Employers:</h4>
      <img src="/images/employers.jpg" alt="Weebly, GSI Commerce, YouGov, Electronic Ink" />
      <p>Plus oodles of freelance and independent projects, including:</p>
      <ul>
        <li>A Network-Based CMS for Small Businesses, built from the ground up</li>
        <li>Chrome Extension Development</li>
        <li>Wordpress Theme Design &amp; Dev.</li>
        <li>Single Page Apps</li>
        <li>Overhaul old websites into scalable, modular html/css</li>
      </ul>
    </div>
  </div>
</div>